[Unit]
Description=Prometheus Server
After=network.target

[Service]
User=prometheus
Group=prometheus
Type=simple
Restart=on-failure
ExecStart=/usr/bin/prometheus --config.file {{ prometheus_folder_config }}/prometheus.yml --storage.tsdb.path {{ prometheus_folder_tsdata }}

[Install]
WantedBy=multi-user.target