services:
  app:
    image: {{ glab_account }}/{{ glab_proj_pre_name }}-front/app:latest
    container_name: front-app
    working_dir: "{{ srv_app_path }}"
    volumes:
      - {{ srv_app_path }}:{{ srv_app_path }}/dist
    command: ["npm", "run", "build"]
    stop_signal: SIGINT

  bot:
    image: {{ glab_account }}/{{ glab_proj_pre_name }}-back/bot:latest
    container_name: back-bot
    volumes:
      - {{ srv_app_path }}:/src/public
    restart: always
    env_file:
      - ".env"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    stop_signal: SIGINT

  webhook:
    image: {{ glab_account }}/{{ glab_proj_pre_name }}-back/web:latest
    container_name: back-webhook
    ports:
      - "3779:8000"
    restart: always
    env_file:
      - ".env"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    stop_signal: SIGINT

  pg_database:
    image: postgres:13-alpine
    container_name: postgres
    ports:
      - "5452:5432" # Change if you like! 5439 is external to container
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    command: > 
      postgres
      -c max_connections=150
      -c shared_buffers=512MB
      -c effective_cache_size=1536MB
      -c maintenance_work_mem=128MB
      -c checkpoint_completion_target=0.9
      -c wal_buffers=16MB
      -c default_statistics_target=100
      -c random_page_cost=1.1
      -c effective_io_concurrency=200
      -c work_mem=3495kB
      -c min_wal_size=1GB
      -c max_wal_size=4GB
      -c max_worker_processes=2
      -c max_parallel_workers_per_gather=1
      -c max_parallel_workers=2
      -c max_parallel_maintenance_workers=1
    env_file:
      - '.env'
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

  redis_cache:
    image: redis:6.2-alpine
    container_name: redis
    restart: always
    command: >
      redis-server
      --port $REDIS_PORT
      --save 20 1
      --loglevel warning 
      --requirepass $REDIS_PASSWORD
    env_file:
      - ".env"
    volumes:
      - cache:/data

volumes:
  pgdata: { }
  cache: { }
