server {
    server_name {{ app_domain_name }};
    root {{ srv_app_path }};
    index index.html;

    # FRONTEND
    location / {
        try_files $uri $uri/ /index.html;
    }

    # BACKEND
    location /api/ {
        proxy_pass http://localhost:3779;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
